@import "bootstrap"


.post-board-header
  background-color: rgba(61, 61, 61, .9)
  border-radius: 0.25em
  padding: 10px
  margin-bottom: 5px

  .actions, .list
    margin-top: 5px
    margin-bottom: 5px

  .list
    color: #fff

.list-group-item
  border-radius: 0.25em
  margin-bottom: 5px
  background-color: rgba(244, 244, 244, .9)

  p
    margin: 0
    font-weight: 600
